@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {

  --color-background: var(--background);
  --color-card: var(--card);

  --color-brand: var(--brand);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-brand-secondary: var(--brand-secondary);

  --color-dark-bg: var(--dark-bg);
  --color-footer-bg: var(--footer-bg);

  --color-applied: var(--applied);
  --color-applied-bg: var(--applied-bg);
  --color-inprog: var(--inprog);
  --color-inprog-bg: var(--inprog-bg);
  --color-interv: var(--interv);
  --color-interv-bg: var(--interv-bg);
  --color-reject: var(--reject);
  --color-reject-bg: var(--reject-bg);
  --color-brand-bg: var(--brand-bg);
  --color-saved-bg: #efe5ff;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

}

@layer base {
  :root {
    --background: #0F190A;
    --card: #111C0C;

    --dark-bg: #0e170a;
    --footer-bg: #0e170a;
    --brand: #01FE84;
    --primary: #ffffff;
    --foreground: #DCDDDB;
    --muted: #b6bab4;
    --brand-secondary: #00a265;

    --applied: #8F85FF;
    --applied-bg: #161135;
    --inprog-bg: #593202;
    --inprog: #ffea8d;
    --interv: #6B8EFF;
    --interv-bg: #00193a;
    --reject: #ff7a7a;
    --reject-bg: #350101;
    --brand-bg: #003221;
    --saved-bg: #efe5ff;
  }


  .light {
    --background: #f8f8f8;

    --brand: #00BF63;
    --primary: #0D3E3B;
    --foreground: #242424;
    --muted: #365b78;
    --icon-bg: #c6e3e1;
    --dark-bg: #0D3E3B;
    --footer-bg: #C6E3E1;

    --card: #ffffff;

    --interv: #1e40af;
    --interv-bg: #dbeafe;
    --applied: #3a30a5;
    --applied-bg: #e4e0ff;
    --brand-bg: #d2ffef;
    --reject: #941919;
    --reject-bg: #FEE3E3;
    --inprog: #FD9617;
    --inprog-bg: #FCF2C6;
    --saved: #6f4cc9;
    --saved-bg: #efe5ff;
  }

  body {
    @apply bg-background text-primary font-sans;
  }

}

.active-link {
  color: var(--brand);
}

.navlink {
  color: var(-brand);
}



/**** overrides for the day-picker (calendar) appearance ****/

.rdp-root {
  container-type: inline-size;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  --rdp-accent-color: var(--color-primary);
  --rdp-day-height: clamp(37px, calc((100cqw)/7), 60px);
  --rdp-day-width: var(--rdp-day-height);
  --rdp-day_button-height: var(--rdp-day-height);
  --rdp-day_button-width: var(--rdp-day-width);
  --rdp-day_button-border-radius: 0.5rem;
  --rdp-today-border-radius: var(--rdp-day_button-border-radius);
}

.rdp-months,
.rdp-month,
.rdp-month_grid {
  width: 100%;
  max-width: 500px;
  /* aspect-ratio:square; */
}

.rdp-selected .rdp-day_button {
  background: var(--color-icon-bg);
  color: var(--color-primary);
  border-radius: var(--rdp-day_button-border-radius);
  border: none;
}

.rdp-today .rdp-day_button {
  border: 2px solid var(--color-primary);
  border-radius: var(--rdp-today-border-radius);
}

/************** Style setting for modals ********************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border: 1px solid var(--muted);
  border-color: gray;
  border-radius: 24px;
  z-index: 11;
  background-color: var(--color-background);
}